@import "vars.scss";

@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  box-sizing: border-box;
}

html {
  background: url(images/bg.jpg), no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  color: $foreground;

  h1 {
    font-size: 6rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2rem;
  }

  hr {
    border: none;
    border-top: 5px solid $foreground;
  }

}

body.overlay {
  background: url(images/bg_mask.png);
}


// form

@mixin input {
  margin-bottom: 25px;
  position: relative;
  width: 100%;
  font-size: 2rem;
  padding: 10px;
  padding-left: 25px;

  color: $foreground;

  border: 5px solid $foreground;
  border-radius: 5px;
  background: transparentize($foreground, 0.75);

  text-align: center;

  transition: all 0.2s ease-out;

  &:hover, &:focus {
    background: transparentize($foreground, 0.25);
    color: $background;
  }
}

@mixin inverse {

  background: transparentize($background, 0.1);

  border: 5px solid $background;

  color: $foreground;

  &:hover, &:focus {
    background: transparentize($foreground, 0.25);
    color: $background;
  }
}

form {
  margin-top: 25px;
}

input[type*="text"], input[type*="submit"], input[type*="email"] {
  @include input;
}

input[type*="submit"] {
  margin-top: 15px;

  cursor: pointer;

  @include inverse;
}


input:hover::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $background;
}
input:hover:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:  $background;
   opacity:  1;
}
input:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:  $background;
   opacity:  1;
}
input:hover:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:  $background;
}

input:focus::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: transparent;
    transition: all 0.2s ease-out;
}
input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:  transparent;
   opacity:  1;
   transition: all 0.2s ease-out;
}
input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:  transparent;
   opacity:  1;
   transition: all 0.2s ease-out;
}
input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:  transparent;
   transition: all 0.2s ease-out;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $foreground;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:  $foreground;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:  $foreground;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:  $foreground;
}

label.fake-file {
  @include input;
  display: block;
}

[type=file]{
  display:none;
}
