<html>
<head>
  <title>{{= it.title }}</title>
  <meta name="description" content="{{= it.description }}">
  <meta property="og:title" content="{{= it.title }}" />
  <meta property="og:description" content="{{= it.description }}" />
  <meta property="og:image" content="http://162.243.71.159/{{= it.siteName }}/images/socialimage.jpg" />
  <meta property="og:image" content="http://162.243.71.159/{{= it.siteName }}/images/bg.jpg" />
  <link rel="stylesheet" href="main.css">
</head>
<body class="{{= it.overlay? 'overlay' : 'no-overlay' }}">
  <div class="content">
    <h1>{{= it.headline || it.title }}</h1>
    <h2>{{= it.followOn || '' }}</h2>
    {{= it.hr? '<hr>' : '' }}
    <p>{{= it.littleText || '' }}</p>

    <form method="post" action="http://162.243.50.250:1347/{{= it.siteName }}" enctype="multipart/form-data">{{=
      it.form.map(function (input, i) {
        if (input.type === 'email') {
          return '<input type="email"required="'+(input.required || false)+'"  placeholder="'+ input.placeholder +'" name="' + ( input.name || 'input' + i) + '">';
        } else if (input.type === 'text') {
          return '<input type="text" required="'+(input.required || false)+'" placeholder="'+ input.placeholder +'" name="' + ( input.name || 'input' + i) + '">';
        } else if (input.type === 'file') {
          return (
            '<label class="fake-file">' + input.placeholder +
              '<input type="file" required="'+(input.required || false)+'" name="'+ input.placeholder +'" name="' + ( input.name || 'file' + i) + '" id="file" value="" accept="' + input.types.join() + '"/>'+
            '</label>'
          )
        } else if (input.type === 'submit') {
          return '<hr><input type="submit" value="'+ input.text +'" data-confirm="' + input.confirm + '">';
        }
      }).join('')

    }}
    </form>
  </div>

  <script src="scripts/jquery.js"></script>
  <script src="scripts/index.js"></script>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{= it.uaCode }}', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
</body>
</html>
